* {
  margin: 0;
  padding: 0;
}
.rows {
  margin-top: 20px;
}
.rows .my_paragraph .wave-container, .footer .my_paragraph .wave-top, .footer .my_paragraph .wave-bottom {
  margin: 0 auto;
  max-width: 100%;
  background: #fff;
  }

.rows .my_paragraph .wave-top, .footer .my_paragraph .wave-bottom {
  width: 100%;
  }

.rows .my_paragraph .wave-top > svg, .footer .my_paragraph .wave-bottom > svg {
  display: block;
  }

.rows .my_paragraph .wave-container {
  z-index: 6;
  position: relative;
  }

.rows .my_paragraph .wave-top {
  margin-bottom: -5px;
  }

.rows .my_paragraph .wave-bottom {
  margin-top: -5px;
  }

.rows .my_paragraph .wave-container, .footer .my_paragraph .wave-top, .footer .my_paragraph .wave-bottom {
  position: relative;color: #FFF;
  text-align:  center;
  overflow: hidden;
  }

.rows .my_paragraph .wave-container {
  background: #767EEB;
  }

.rows .my_paragraph .wave-container .deskrip_text {
  padding: 10px;
  width: none;
  font-size: 17px;
  text-align: center;
  box-sizing: border-box;
  }

.rows .my_paragraph .wave-container .deskrip_text p span {
  margin-bottom: 0px;
  line-height: 0.50em;
  font-size:23px;color:#fff;
  }
 
.rows .my_paragraph .wave-container .deskrip_text p {
  color: #fff;
  font-size: 17px;
  line-height: 1.5em;
  margin: 7rem 1.25rem 2.5rem 1.25rem; 
  } 

.rows .my_paragraph .wave-container .deskrip_text p i {
  color: #fff;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
  }
